# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
CORRECCIONES_ESCALADO_RECETAS.md
INSTRUCCIONES_ESCALADO_RECETAS.md
INSTRUCCIONES_MIGRACION_COLOR.md
MEJORAS_DUPLICAR_LIMPIAR_ORDEN.md
MEJORAS_ESCALADO_COSTOS_ADICIONALES.md
MEJORAS_FILTROS_PAGINACION_CATEGORIAS.md
MEJORAS_INPUT_ESCALADO.md
MEJORAS_INTERFAZ_ESCALADO_RECETAS.md
MEJORAS_MODAL_FILTROS_ORDENAMIENTO.md
SOLUCION-ERROR-INDICE-IMAGEN.md
supabase/migrations/README_MIGRATION.md
CORRECCION_PRECIO_VENTA_ESCALADO.md
app/claude-front/lista-proveedores.html
